@import url("TattooLetteringBlack/stylesheet.css");
@import url("dirtyoldtown/stylesheet.css");

@font-face {
	
}.ds {
	
}
#MenuBar1 li .MenuBarActive.MenuBarItemSubmenu strong {
	
	}
.sa strong {
	font-family: dirtyoldtown;
	
}
#apDiv3 #CollapsiblePanel1 .CollapsiblePanelContent p a {
	font-family: dirtyoldtown;
	font-size: 18px;
	font-weight: bold;
}
#apDiv3 #CollapsiblePanel1 .CollapsiblePanelContent p a {
	font-size: 18px;
}
#apDiv3 #CollapsiblePanel1 .CollapsiblePanelContent p a {
	font-weight: normal;
}
#apDiv3 #CollapsiblePanel1 .CollapsiblePanelContent p a {
	color: #666;
}
#apDiv3 #CollapsiblePanel1 .CollapsiblePanelContent p a {
	font-weight: bold;
}
#apDiv3 #CollapsiblePanel1 .CollapsiblePanelContent p a {
	font-size: 18px;
}
